<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Tipo de Gesto</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tipo-gesto.css') }}">
</head>
<body>
  <div class="container">
    <a class="botao" href="{{ url_for('home') }}">Home</a>
    <label>Sobre o que será o seu gesto?</label>
    <select>
      <option class="botao">acender luz</option>
      <option class="botao">tocar musica</option>
    </select>
    <a class="botao" href="{{ url_for('gravar') }}">Seguinte</a>
  </div>
</body>
</html>
