/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

/* Botão Home isolado */
a.botao:first-of-type {
  align-self: flex-start;
  margin: 20px;
  align-self: center;
}

/* Container da tabela */
.container {
  background-color: white;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 90%;
  max-width: 700px;
}

/* Tabela */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #0077cc;
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
}

.div-movimentos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Botões principais */
a.botao {
  display: inline-block;
  padding: 10px 24px;
  background-color: #0077cc;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: bold;
  text-align: center;
  border: none;
  align-self: center;
}

a.botao:hover {
  background-color: #005fa3;
  transform: scale(1.05);
  align-self: center;
}

a.botao:active {
  transform: scale(0.98);
  align-self: center;
}

.botoes {
  display: flex;
  gap: 15px;
}

/* Botão de deletar */
a.botao-delete {
  padding: 6px 12px;
  background-color: #cc0000;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width:80px;
  height: 30px;
}

a.botao-edit {
  padding: 6px 12px;
  background-color: #0058cc;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width:80px;
  height: 30px;
  margin-left: 20px;
  text-align: center;
}

a.botao-edit:hover {
  background-color: #002999;
  transform: scale(1.05);
}

a.botao-edit:active {
  transform: scale(0.95);
}

a.botao-delete:hover {
  background-color: #990000;
  transform: scale(1.05);
}

a.botao-delete:active {
  transform: scale(0.95);
}
